.wishlistopponentmember_wrapper {
  width: 90%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.wishlistopponentmember_content {
  /* max-height: 2.5vh; */
  overflow: auto;
}