

.sec_button {
  margin-top: 30px;
  width:70%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.calender {
  width: 70%;
  margin-top: 30px;
}

.basic_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button_link {
  width:15%;
}