.login_input {
  margin-bottom: 3px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background-color: rgb(203, 203, 203);
  border-radius: 5px;
}

.login_input:focus {
  outline: none;
}

.hello {
  color: red;
}
