.diarycontent {
  margin: 30px;
  padding: 10px;
  width: 400px;
  height: 40vh;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diarycontent_title {
  margin: 10px;
  width: 90%;
  background-color: lightgray;
}

.diarycontent_content {
  margin: 10px;
  width: 90%;
  height: 20vh;
  border: none;
  border-radius: 10px;
  padding: 5px;
  resize: none;
  background-color: lightgray;
}

.diarycontent_content:focus {
  outline: none;
}

.diarycontent_button {
  margin: 0 0 10px 10px;
}